body {
  color: #000000;
  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));    
}

iframe {
  width: 100%;
  min-height: 480px;
}

.impress-on-slide-0,
.impress-on-slide-1 {
  background: rgb(00, 119, 192);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(129, 206, 255)), to(rgb(00, 119, 192)));
  background: -webkit-radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  background: -moz-radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  background: -ms-radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  background: -o-radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  background: radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  color: #FFFFFF;
}

.impress-on-slide-65,
.impress-on-slide-66,
.impress-on-slide-67,
.impress-on-slide-68,
.impress-on-slide-69,
.impress-on-slide-70,
.impress-on-slide-71,
.impress-on-slide-72 {
  color: #FFFFFF;
  background: #069;
}

.centered {
  text-align: center;
}

.title {
  text-align: center;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 15px;
  line-height: 80px;
}

.container {
  line-height: 50px;
  min-height: 480px;
}

.content {
  width: 90%;
  position: absolute;
  overflow: hidden;
}

.full-slide {
  width: 100%;
  min-height: 50%;
}

.pic {
  left: 10%;
}

.name {
  font-size: 1.5em;
}

.on-bottom {
  top: 60%;
}

.on-top {
  top: 0%;
}

.on-mid {
  top: 20%;
}

.on-left {
  left: 10%;
}

.on-right {
  right: 10%;
  text-align: right;
}

.on-max-top {
  top: -60%;
}

.a-quarter {
  top: -20%;
}

.two-quarters {
  top: 10%;
}

.three-quarters {
  top: 40%;
}

.four-quarters {
  top: 70%;
}

.small-font {
  font-size: 0.7em;
}

.sample .title {
  top: -20px;
}

.data-list {
  margin-top: 50px;
  margin-left: 30%
}

.demo-pic {
  width: 100%;
}