/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END OF RESET */

/* FOR IMPRESS HINTS AND FALLBACKS */

/* NOTHING NEW, ALL COPIED FROM THE IMPRESS.JS DEMO */

/* FALLBACK MESSAGE FOR NOT SUPPORTED BROWSERS */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/* HINT */

.hint {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(0,0,0,0.5);
  color: #EEE;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateY(400px);
  -moz-transform:    translateY(400px);
  -ms-transform:     translateY(400px);
  -o-transform:      translateY(400px);
  transform:         translateY(400px);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint {
  display: block;
}

.impress-on-intro .hint {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform:    translateY(0px);
  -ms-transform:     translateY(0px);
  -o-transform:      translateY(0px);
  transform:         translateY(0px);
  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
  -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
  -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
  -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
  transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

/* MY CUSTOM BASIC STYLING */

b, strong { font-weight: bold }
i, em { font-style: italic }

body {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 48px;
  line-height: 1.5;
}

iframe {
  width: 100%;
  min-height: 480px;
}

.step {
  position: relative;
  min-width: 900px;
  padding: 40px;
  margin: 20px auto;
}

/* Hide the next slides. */
.future {
  opacity: 0;
}

/* Company logo */
.first-logo {
  position: fixed;
  left: 10px;
  right: auto;
  bottom: 10px;
  z-index: -100;
}

/* Event logo */
.second-logo {
  position: fixed;
  left: auto;
  right: 10px;
  bottom: 10px;
  z-index: -100;
}

.relative {
  position: relative;
}

/* TEXT SIZES */
.main-title {
  font-size: 4em;
  line-height: 200px;
  font-weight: bold;
}

.bold-title {
  font-size: 2em;
  line-height: 100px;
  font-weight: bold;
}

.title {
  font-size: 2em;
  line-height: 72px;
}

.big-text {
  font-size: 1.5em;
  line-height: 72px;
}

.normal-text {
  font-size: 1em;
}

.small-text {
  font-size: 0.5em;
}

/* TEXT ALIGNS */
.left {
  float: left;
}

.right {
  float: right;
}

.centered {
  text-align: center;
}

/* TEXT POSITIONS */
.on-top {
  top: 0%;
}

.on-bottom {
  top: 60%;
}

.on-mid {
  top: 30%;
}

.on-left {
  left: 10%;
}

.on-right {
  right: 10%;
  text-align: right;
}

.on-max-top {
  top: -60%;
}

/* Text in four rows */
.a-quarter {
  top: -20%;
  position: relative;
}

.two-quarters {
  top: 10%;
  position: relative;
}

.three-quarters {
  top: 40%;
  position: relative;
}

.four-quarters {
  top: 70%;
  position: relative;
}

.title {
  text-align: center;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 15px;
  line-height: 80px;
}

.container {
  line-height: 50px;
  min-height: 480px;
}

.content {
  width: 90%;
  position: absolute;
  overflow: hidden;
}

.full-slide {
  width: 100%;
  min-height: 50%;
}

.pic {
  left: 10%;
}

/* BACKGROUND COLORS */
/* Copy it to the custom.css replacing the class with the slide number */
/* Sample: .impress-on-slide-0 */
.red-gradient {
  background: rgb(204, 0, 0);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(255, 153, 153)), to(rgb(204, 0, 0)));
  background: -webkit-radial-gradient(rgb(255, 153, 153), rgb(204, 0, 0));
  background: -moz-radial-gradient(rgb(255, 153, 153), rgb(204, 0, 0));
  background: -ms-radial-gradient(rgb(255, 153, 153), rgb(204, 0, 0));
  background: -o-radial-gradient(rgb(255, 153, 153), rgb(204, 0, 0));
  background: radial-gradient(rgb(255, 153, 153), rgb(204, 0, 0));
}

.yellow-gradient {
  background: rgb(245, 238, 111);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(247, 244, 188)), to(rgb(245, 238, 111)));
  background: -webkit-radial-gradient(rgb(247, 244, 188), rgb(245, 238, 111));
  background: -moz-radial-gradient(rgb(247, 244, 188), rgb(245, 238, 111));
  background: -ms-radial-gradient(rgb(247, 244, 188), rgb(245, 238, 111));
  background: -o-radial-gradient(rgb(247, 244, 188), rgb(245, 238, 111));
  background: radial-gradient(rgb(247, 244, 1882), rgb(245, 238, 111));
  color: #FFFFFF;
}

.orange-gradient {
  background: rgb(245, 171, 111);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(242, 210, 184)), to(rgb(245, 171, 111)));
  background: -webkit-radial-gradient(rgb(242, 210, 184), rgb(245, 171, 111));
  background: -moz-radial-gradient(rgb(242, 210, 184), rgb(245, 171, 111));
  background: -ms-radial-gradient(rgb(242, 210, 184), rgb(245, 171, 111));
  background: -o-radial-gradient(rgb(242, 210, 184), rgb(245, 171, 111));
  background: radial-gradient(rgb(242, 210, 184), rgb(245, 171, 111));
  color: #FFFFFF;
}

.green-gradient {
  background: rgb(158, 235, 158);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(100, 204, 102)), to(rgb(158, 235, 158)));
  background: -webkit-radial-gradient(rgb(100, 204, 102), rgb(158, 235, 158));
  background: -moz-radial-gradient(rgb(100, 204, 102), rgb(158, 235, 158));
  background: -ms-radial-gradient(rgb(100, 204, 102), rgb(158, 235, 158));
  background: -o-radial-gradient(rgb(100, 204, 102), rgb(158, 235, 158));
  background: radial-gradient(rgb(100, 204, 102), rgb(158, 235, 158));
  color: #FFFFFF;
}

.blue-gradient {
  background: rgb(00, 119, 192);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(129, 206, 255)), to(rgb(00, 119, 192)));
  background: -webkit-radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  background: -moz-radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  background: -ms-radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  background: -o-radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  background: radial-gradient(rgb(129, 206, 255), rgb(00, 119, 192));
  color: #FFFFFF;
}

.plain-blue {
  color: #FFFFFF;
  background: #069;
}
